.task-header {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.task-title {
    overflow: hidden;
}

.task:hover .task-body {
    display: block;
}

.task-badges {
    margin-left: auto;

    list-style: none;
    display: flex;
    padding: 0;

    flex-direction: row;
    gap: 1rem;

}

.task-badges li {
    padding: 5px;
    width: 65px;
    height: fit-content;

    text-align: center;

    border-radius: 8px;
    border: solid 1px var(--text-color);
}

.task-priority-low {
    background-color: var(--low-p-color);
}

.task-priority-medium {
    background-color: var(--medium-p-color);
}

.task-priority-high {
    background-color: var(--high-p-color);
}

.task-status-pending {
    background-color: var(--medium-p-color);
}

.task-status-doing {
    background-color: var(--status-doing-color);
}

.task-status-done {
    background-color: var(--low-p-color);
}

.task-action-wrapper {
    display: flex;
    flex-direction: row;

    gap: 1rem;
}

button {
    background-color: var(--background-color);
    color: var(--text-color);

    padding: 5px 10px;

    border-radius: 8px;
    border: none;

    transition: all 0.5s ease;
}

button:hover {
    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transform: scale(0.95);
}

.modal-edit {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: var(--background-color);
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: var(--border-radius);
    border: 1px solid #888;
    width: 40%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 60px 120px -24px, rgba(0, 0, 0, 0.3) 0px 32px 72px -36px;
}

.modal-input {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

#modal-priority {
    width: 18%;
    
    list-style: none;
    
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}

.modal-input h2 {
    margin: 0;
    margin-top: 1rem;
}

.modal-input li {
    align-self: flex-start;
}

.modal-input input[type=text], textarea {
    width: 100%;
    max-width: 100%;

    border-radius: var(--border-radius);
    background-color: var(--task-background-color);
    color: var(--text-color);

    border: solid 1px var(--accent-color);
    outline: none;

    transition: all 0.25s ease;
}

.modal-input textarea {
    height: 5rem;
}

.modal-input input[type=text]:focus, .modal-input textarea:focus {
    border: solid 2px var(--accent-color);
    transform: scale(1.05) translateY(5px);
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.modal-input input[type=radio]:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the indicator (dot/circle) when checked */
.modal-input input[type=radio]:checked ~ .modal-input input[type=radio]:after {
    display: block;
}
  
/* Style the indicator (dot/circle) */
.modal-input input[type=radio]:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

#modal-footer {
    display: flex;
    width: 100%;
}

#modal-submit {
    margin-left: auto;
    background-color: var(--accent-color);
}

#modal-submit:hover {
    background-color: var(--background-color);
}